@import '../../constants/styles';

.ThumbnailsPanel {
  top: $top-bar-height;
  height: 180px;
  min-width: 100%;
  overflow: auto;
  transition: margin-left .3s ease;

  &.left-panel {
    width: calc(100% - #{$left-panel-width});
    margin-left: $left-panel-width;
  }
}
